.wrapper
{
  background-image: url("../../assets/back.webp");
}


.content
{
  padding-top: 7em;
  padding-bottom: 7em;
  min-height: 100vh;
}

.title
{
  text-align: center;
  font-size: 2em;
  color: white;
  margin-bottom: 0.5em;
}

.test
{
  text-align: center;
  font-size: 1.5em;
}

.test a
{
  text-decoration: none;
  color: #8c8c8c;
}

.test a:hover
{
  color: white;
}

.info img
{
  margin: 5px;
  width: 100%;
  max-width: 30em;
}

.info
{
  max-width: 70vw;
  margin: auto;
  font-size: 1.3em;
  padding: 2em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}

.text
{
  line-height: 1.3em;
  margin: auto;
}

.image
{
  margin: auto;
}
