.wrapper
{
  background-image: url("../../assets/back.webp");
}


.content
{
  padding-top: 7em;
  padding-bottom: 7em;
  min-height: 100vh;
}

.title
{
  text-align: center;
  font-size: 2em;
  color: white;
}

.test
{
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
}

.test a
{
  text-decoration: none;
  color: #8c8c8c;
}

.test a:hover
{
  color: white;
}

.info img
{
  float: right;
  margin: 5px;
  width: 100%;
  max-width: 20em;
}

.info
{
  max-width: 70vw;
  margin: auto;
  font-size: 1.3em;
  padding: 1em 1em 10em;
}

.text
{
  line-height: 1.3em;
}
