.holder
{
  min-height: 3em;
  padding-top: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  font-style: italic;
}

.company
{
  text-align: center;
}

.company a
{
  text-decoration: none;
}

.company a:hover
{
  color: white;
}

.icon-block
{
  text-align: center;
}
.icon-block i
{
  font-size: 1.5em;
  padding: 0.2em;
}

.icon-block i:hover
{
  color: white;
}
