.wrapper
{
  background-image: url("../../assets/back.webp");
}

.content
{
  padding-top: 7em;
  padding-bottom: 7em;
}

.placeholder {
  margin: auto;
  max-width: 70vw;
  padding-top: 1em;
}

.email-form-full-width {
  width: 100%;
}

.email-btn
{
  margin: 1em;
}

.search-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subscr
{
  margin: auto;
  max-width: 70vw;
  padding: 2em;
}
.email-btn
{
  margin: 0.5em;
  cursor: pointer;
  padding: 0.5em 0.7em;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.email-btn:disabled
{
  background-color: black;
}

.email-btn:enabled
{
  background-color: #8c8c8c;
  color: black;
}


mat-form-field input, ::placeholder {
  color:  #8c8c8c!important;
}

mat-form-field mat-label
{
  color:  #8c8c8c!important;
}

.titles
{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding-bottom: 3em;
  margin: auto;
  max-width: 70vw;
}

.text-block
{
  font-size: 1.2em;
  color: white;
  margin: auto;
}

.poster-block
{
  margin: auto;
  max-width: 25em;
}

.genre
{
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
}

.poster-art
{
  width: 100%;
  box-shadow: 0 0 50px 15px #98827a;
}
