.holder
{
  min-height: 1em;
  display: grid;
  grid-template-columns: 20% 64%;
  grid-template-rows: auto;
  grid-column-gap: 1em;
  background-color: rgba(0, 0, 0, 0.8);
}

@media(max-width: 912px){

  .holder
  {
    display: block;
  }
}


.logo
{
  grid-area: 1/1;
  padding: 1em;
}

.logo a
{
  height: auto;
  vertical-align: middle;
  font-size: 2em;
  horiz-align: center;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.3em;
}
.empth
{
  color: #6f1c20;
}

.logo a:hover
{
  color: white;
}

.empth:hover
{
  color: #8c8c8c;
}

.menu a
{
  text-decoration: none;
  color: #8c8c8c;
  padding: 1em;
  cursor: pointer;
  font-style: italic;
}

.menu a:hover
{
  color: white;
}

.menu
{
  margin: auto;
  padding: 1em;
  grid-area: 1/2;
}

.menu_item
{
  display: inline-block;
  height: auto;
  vertical-align: middle;
  font-size: 1.5em;
  horiz-align: center;
}
